In [15]:
import sys
import os
sys.path.append(os.path.abspath('..'))

from recommender.preprocessing import preprocess_products
from recommender.content_based import ContentRecommender
from recommender.collaborative import CollaborativeRecommender
from recommender.hybrid import HybridRecommender

import pandas as pd

In [16]:
data_dir = "../data"

users = pd.read_csv(os.path.join(data_dir, "users.csv"))
products = pd.read_csv(os.path.join(data_dir, "products.csv"))
ratings = pd.read_csv(os.path.join(data_dir, "ratings.csv"))

### Инициализация гибридной рекомендательной сисетмы

In [18]:
# Предобработаем
prod_features = preprocess_products(products)

# Обучим
content_model = ContentRecommender(prod_features)
collab_model = CollaborativeRecommender(users, products, ratings)
collab_model.train()

# Инициализируем гибрид
hybrid = HybridRecommender(collab_model, content_model)

### Тест модели

In [ ]:
user_id = 10
print(f"Тест рекомендаций для пользователя {user_id}")

recs_collab = collab_model.recommend(user_id, n_items=len(products))[:5]
recs_hybrid = hybrid.recommend(user_id, n_items=len(products))[:5]

print("Collaborative:", recs_collab)
print("Hybrid:", recs_hybrid)

display(products.loc[products["product_id"].isin(recs_hybrid)])

Тест рекомендаций для пользователя 10
Collaborative: [92, 45, 57, 4, 64]
Hybrid: [29, 24, 45, 54, 44, 27, 82, 62, 26, 56]

    product_id         type  interest_rate  term_months  min_income_required
24          24  credit_card      14.425069           48               120197
26          26  credit_card      10.614356           24                91091
27          27  credit_card       7.462519            6               107254
29          29         loan       5.918253           24               139578
44          44    insurance       5.106976           12               116644
45          45    insurance      10.640258           24                29655
54          54         loan      13.357101            6                54283
56          56         loan       7.273219           24                57660
62          62         loan       9.256829           12                27364
82          82  credit_card      12.954754            6               130103